<form [formGroup]="registerHousekeeperForm" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <div class="name-inputs-wrapper">
      <div class="p-field text-field first-name-content">
        <label for="firstName">First name</label>
        <input formControlName="firstName" type="text" pInputText />
      </div>
      <div class="p-field text-field last-name-content">
        <label for="lastName">Last name</label>
        <input formControlName="lastName" type="text" pInputText />
      </div>
    </div>

    <div class="p-field text-field email-content">
      <label for="email">Email</label>
      <input formControlName="email" type="email" pInputText />
    </div>

    <div class="p-field text-field password-content">
      <label for="password">Password</label>
      <!-- <input formControlName="password" type="password" pInputText /> -->
      <p-password
        formControlName="password"
        [feedback]="false"
        [toggleMask]="true"
      ></p-password>
    </div>
    <custom-button
      buttonText="Register"
      [disabled]="!registerHousekeeperForm.valid"
    ></custom-button>
  </div>
</form>
