.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
  min-height: 100vh;
  span {
    margin: 25px;
  }
}

.text-field {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-bottom: 25px;
  label {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
  }
}

.name-inputs-wrapper {
  display: flex;
  // margin-bottom: 25px;
}

.first-name-content {
  margin-right: 15px;
}

.last-name-content {
  margin-left: 15px;
}

.email-content {
  width: 530px;
}

// ::ng-deep .p-password input {
//   width: 15rem;
// }
