<form [formGroup]="registerHousekeeperForm" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <div class="name-inputs-wrapper">
      <div class="p-field text-field first-name-content">
        <label for="firstName">{{ dataLocale.FirstName }}</label>
        <input formControlName="firstName" type="text" pInputText />
      </div>
      <div class="p-field text-field last-name-content">
        <label for="lastName">{{ dataLocale.LastName }}</label>
        <input formControlName="lastName" type="text" pInputText />
      </div>
    </div>

    <div class="p-field text-field email-content">
      <label for="email">{{ dataLocale.Email }}</label>
      <input formControlName="email" type="email" pInputText />
    </div>

    <div class="password-group-content">
      <div class="p-field password-content text-field">
        <label for="password">{{ dataLocale.Password }}</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
      </div>
      <div class="p-field password-confirm-content text-field">
        <label for="confirmPassword">{{ dataLocale.ConfirmPassword }}</label>
        <p-password
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
      </div>
    </div>
    <div class="location-content">
      <div class="text-field country-content">
        <label for="country">{{ dataLocale.Country }}</label>
        <input
          formControlName="country"
          type="text"
          [(ngModel)]="searchCountry"
          pInputText
        />
        <div
          *ngFor="
            let country of countries$
              | async
              | searchTextFilter: searchCountry:'Country'
          "
        >
          {{ country.Country }}
        </div>
      </div>

      <div class="text-field town-content">
        <label for="town">{{ dataLocale.Town }}</label>
        <input formControlName="town" type="text" pInputText />
      </div>
    </div>

    <button
      class="btn-base btn-register"
      [disabled]="!registerHousekeeperForm.valid"
    >
      {{ dataLocale.Register }}
    </button>
  </div>
</form>
