.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
  min-height: 100vh;
  span {
    margin: 25px;
  }
}

.text-field {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-bottom: 25px;
  label {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
  }
}

.name-inputs-wrapper {
  display: flex;
}

.first-name-content {
  margin-right: 15px;
}

.last-name-content {
  margin-left: 15px;
}

.email-content {
  width: 530px;
}

.address-content {
  width: 333px;
}

.password-group-content {
  display: flex;
  flex-direction: row;
}

.location-content {
  display: flex;
}

.password-content,
.country-content {
  margin-right: 15px;
}

.password-confirm-content,
.town-content {
  margin-left: 15px;
}

.country-item {
  text-align: left;
}

.text-field-label {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep p-password div input {
  width: 100%;
}

:host ::ng-deep p-password div {
  width: 100%;
  position: relative;
}

:host ::ng-deep p-password div i {
  position: absolute;
  right: 10px !important;
  top: 10px;
  margin-top: 0;
}

:host ::ng-deep p-dropdown .p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-panel {
  width: 250px;
}

:host ::ng-deep .p-dropdown {
  height: 37.33px;
}

:host ::ng-deep .p-dropdown-label {
  text-align: left;
}
