<form [formGroup]="registerHousekeeperForm" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <div class="name-inputs-wrapper">
      <div class="p-field text-field first-name">
        <label for="firstName">{{ dataLocale.FirstName }}</label>
        <input formControlName="firstName" type="text" pInputText />
      </div>
      <div class="p-field text-field last-name">
        <label for="lastName">{{ dataLocale.LastName }}</label>
        <input formControlName="lastName" type="text" pInputText />
      </div>
    </div>

    <div class="p-field text-field email">
      <label for="email">{{ dataLocale.Email }}</label>
      <input formControlName="email" type="email" pInputText />
    </div>

    <div class="password-group">
      <div class="p-field password text-field">
        <label for="password">{{ dataLocale.Password }}</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
      </div>
      <div class="p-field password-confirm text-field">
        <label for="confirmPassword">{{ dataLocale.ConfirmPassword }}</label>
        <p-password
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
        <div *ngIf="submitted && formControls.confirmPassword.errors">
          <div *ngIf="formControls.confirmPassword.errors.mustMatch">
            Does not match
          </div>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="text-field country">
        <label for="country">{{ dataLocale.Country }}</label>
        <p-dropdown
          [options]="countries"
          [(ngModel)]="selectedCountry"
          optionLabel="Country"
          formControlName="country"
          [filter]="true"
          filterBy="Country"
          [showClear]="true"
          placeholder=" "
          #selectedValue
          (onChange)="onChangeCountry(selectedValue.value?.Country)"
        >
          <ng-template pTemplate="selectedCountry">
            <div
              class="country-item country-item-value"
              *ngIf="selectedCountry"
            >
              <div>{{ selectedCountry }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{ country.Country }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="text-field town">
        <label for="town">{{ dataLocale.Town }}</label>
        <p-dropdown
          [(options)]="towns"
          [(ngModel)]="selectedTown"
          optionLabel="name"
          formControlName="town"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder=" "
        >
          <ng-template pTemplate="selectedTown">
            <div class="town-item town-item-value" *ngIf="selectedTown">
              <div>{{ selectedTown }}</div>
            </div>
          </ng-template>
          <ng-template let-town pTemplate="item">
            <div class="town-item">
              <div>{{ town.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="address-info">
      <div class="p-field text-field address">
        <label for="buildingAddress">{{ dataLocale.BuildingAddress }}</label>
        <input formControlName="buildingAddress" type="text" pInputText />
      </div>
      <div class="p-field text-field entrance">
        <label for="entranceNumber">{{ dataLocale.EntranceNumber }}</label>
        <input formControlName="entranceNumber" type="text" pInputText />
      </div>
    </div>

    <button
      class="btn-base btn-register"
      [disabled]="!registerHousekeeperForm.valid"
    >
      {{ dataLocale.Register }}
    </button>
  </div>
</form>
